.header {
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  transition: .2s all linear;
  .logotype {
    background-image: url("../public/assets/images/logo-white.svg");
    background-size: contain;
    background-repeat: no-repeat;
    width: 140px;
    height: 35px;
    display: flex;
    justify-content: center;
  }
  .mainMenu {
    ul {
      li {
        margin: 0 10px;
      }
      a {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
        &:after {
          content: "";
          width: 100%;
          height: 1px;
          background-color: #fff;
          margin-top: 3px;
          display: block;
          transform: scaleX(0);
          transform-origin: left;
          transition: 0.2s all linear;
        }
        &:hover::after {
          transform: scaleX(1);
        }
      }
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  .headerInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .langWidget {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;
      margin: 0 10px;
      li a {
        color: #fff;
        font-weight: 500;
        font-size: 12px;
      }
      li.currentLang {
        position: relative;
        display: flex;
        align-items: center;
        padding: 5px 0;
        &:after {
          content: "";
          background: url("../public/assets/images/arrow-down.svg") no-repeat;
          background-size: contain;
          width: 6px;
          height: 6px;
          display: inline-block;
          margin-left: 5px;
        }
      }
      .opened {
        visibility: visible !important;
        opacity: 1 !important;
      }
      li:not(.currentLang) {
        position: absolute;
        margin-top: 25px;
        visibility: hidden;
        opacity: 0;
        transition: 0.2s all linear;
        a {
          padding: 5px 15px;
          color: #333;
          font-weight: 600;
          display: block;
          background-color: #fff;
          border: 1px solid transparent;
          transition: 0.2s all linear;

          &:hover {
            background-color: transparent;
            border: 1px solid #fff;
            color: #fff;
          }
        }
      }
    }
    .defBtn {
      width: 120px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: 1px solid rgba(255, 255, 255, 0.2);
      color: #fff;
      margin: 0 10px;
      box-sizing: border-box;
      border-radius: 4px;
      font-size: 12px;
      letter-spacing: 2px;
      transition: 0.2s all linear;
      cursor: pointer;
      &:hover {
        border: 1px solid #fff;
      }
      &:active {
        border-color: rgba(255, 255, 255, 0.4);
      }
    }
    .profilePhone {
      display: flex;
      align-items: center;
      .profileIcon,
      .phoneIcon {
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;
        margin: 0 10px;
      }
      .profileIcon {
        background-image: url("../public/assets/images/user.svg");
      }
      .phoneIcon {
        background-image: url("../public/assets/images/call.svg");
      }
    }
  }
}


@media screen and (max-width: 1280px) {
  .header .logotype {
    width: 130px;
    height: 25px;
  }
  .header {
    .mainMenu {
      li {
        margin: 0 5px !important;
      }
      a {
        font-size: 10px !important;
      }
    }
  }

  .profileIcon {
    margin: 0 5px !important;
  }
}

@media screen and (max-width: 1120px) {
  .header .headerInfo .defBtn {
    width: 110px;
    height: 35px;
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    .mainMenu {
      display: none;
    }
    .headerInfo {
      display: none;
    }
    .openedMenu {
      position: relative;
      display: flex !important;
      align-items: flex-end;
      flex-direction: column;
      justify-content: center;
      padding: 25px;
      background-color: rgb(255 255 255 / 40%);
      position: fixed;
      top: 0;
      right: 0;
      width: 280px;
      height: 100%;
      backdrop-filter: blur(14px);
      box-shadow: -5px 0 10px 5px rgb(0 0 0 / 20%);
      transition: 0.2s all linear;
      ul {
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        a {
          color: #151b30;
          font-weight: 800;
          line-height: 4em;
          &::after {
            display: none;
          }
        }
      }
    }
    .none {
      display: none !important;
    }
    .menuIcon,
    .closeIcon {
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      width: 16px;
      height: 16px;
      display: inline-block;
    }
    .menuIcon {
      background-image: url("../public/assets/images/menu.svg");
    }
    .closeIcon {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 20px;
      height: 20px;
      background-image: url("../public/assets/images/next.png");
    }
  }
  .mainTopBar {
    .topBarInfo {
      h1 {
        font-size: 40px;
      }
    }
  }
}
